
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto+Flex:opsz,wght@8..144,500&family=Roboto:wght@300&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color:#FFFFFFFF;
}
.Footer{
  background-color: #000000;
  margin: 30px;
  width: 97%;
  height: 69vh;
  padding: 35px;
}

.head{
  color:#FF2E00 ;
  font-size: 15px;
  margin-bottom: 17px;
  font-family: sans-serif;

}
.icon1{
  color: #FF2E00;
  font-size: 30px;
}

.head1{
  color: #FF2E00;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 17px;
  font-family: sans-serif;

}
.paras{
  color: #FFFFFFFF;
  font-size: 15px;
  font-family: Roboto;
  width: 450px;
  line-height: 23.44px;

}

.icon{
  padding-top: 20px;
  color: #FF2E00;
  font-size: 40px;
  margin: 3px;
  width: 60px;
  height: 60px;
  border-radius: 200px;
}

.content{
  margin-left: 40%;
  margin-top: -15%;
}


.direction{
  display: inline-block;
  font-size: 19px;
}

.theme{
  display: inline-block;
  color: aliceblue;
  font-size: 18px;
  font-family: inherit;
margin-left: 75px;  
padding-bottom: 15px;
}

h5:hover{
  color: #3505f5;
}

a{
  padding: 20px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-family: sans-serif;
  margin: 30px;
}

a:hover{
  color: #ea820b;
}



.end{
  padding-top: 60px;
  color: #FFFFFFFF;
}

.end1{
  padding-top: 13px;
  color: rgba(133, 132, 132, 0.952);
  margin-left: 17%;
}

.language:hover{
  color: #ea820b;

}